*.retry

# This file contains the credentials to access the
# vSphere infrastructure. It must be sourced before
# Terraform operations.
vsphere.env

*.plan
.terraform/
*.tfstate
*.tfstate.backup
.DS_Store